<a href="https://colab.research.google.com/github/kittikhun62/Multivariate/blob/main/Exam01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
pollution_data = pd.read_csv('/content/Pizza.csv',sep='\t')
pollution_data

         brand,id,mois,prot,fat,ash,sodium,carb,cal
0     A,14069,27.82,21.43,44.87,5.11,1.77,0.77,4.93
1     A,14053,28.49,21.26,43.89,5.34,1.79,1.02,4.84
2      A,14025,28.35,19.99,45.78,5.08,1.63,0.8,4.95
3     A,14016,30.55,20.15,43.13,4.79,1.61,1.38,4.74
4     A,14005,30.49,21.28,41.65,4.82,1.64,1.76,4.67
..                                              ...
295     J,34044,44.91,11.07,17,2.49,0.66,25.36,2.91
296   J,24069,43.15,11.79,18.46,2.43,0.67,24.17,3.1
297  J,34039,44.55,11.01,16.03,2.43,0.64,25.98,2.92
298   J,14044,47.6,10.43,15.18,2.32,0.56,24.47,2.76
299    J,14045,46.84,9.91,15.5,2.27,0.57,25.48,2.81

[300 rows x 1 columns]

In [5]:
pollution_data1 = pd.read_csv('/content/nndb_flat.csv',sep='\t')
pollution_data1

     ID,FoodGroup,ShortDescrip,Descrip,CommonName,MfgName,ScientificName,Energy_kcal,Protein_g,Fat_g,Carb_g,Sugar_g,Fiber_g,VitA_mcg,VitB6_mg,VitB12_mcg,VitC_mg,VitE_mg,Folate_mcg,Niacin_mg,Riboflavin_mg,Thiamin_mg,Calcium_mg,Copper_mcg,Iron_mg,Magnesium_mg,Manganese_mg,Phosphorus_mg,Selenium_mcg,Zinc_mg,VitA_USRDA,VitB6_USRDA,VitB12_USRDA,VitC_USRDA,VitE_USRDA,Folate_USRDA,Niacin_USRDA,Riboflavin_USRDA,Thiamin_USRDA,Calcium_USRDA,Copper_USRDA,Magnesium_USRDA,Phosphorus_USRDA,Selenium_USRDA,Zinc_USRDA
0     01001,Dairy and Egg Products,"BUTTER,WITH SALT...
1     01002,Dairy and Egg Products,"BUTTER,WHIPPED,W...
2     01003,Dairy and Egg Products,"BUTTER OIL,ANHYD...
3     01004,Dairy and Egg Products,"CHEESE,BLUE","Ch...
4     01005,Dairy and Egg Products,"CHEESE,BRICK","C...
...                                                 ...
8613  83110,Finfish and Shellfish Products,"MACKEREL...
8614  90240,Finfish and Shellfish Products,"SCALLOP,...
8615  90480,Sweets,"SYRUP,CANE","Syrup, Cane",,,,269...
8616  90560,Finfish and Shellfish Products,"SNAIL,RA...
8617  93600,Finfish and Shellfish Products,"TURTLE,G...

[8618 rows x 1 columns]